@model LimaArrendamentos.Models.EnergyClassViewModel

<div class="form-group">
    <label asp-for="EnergyClassDesc" class="control-label"></label>
    <input asp-for="EnergyClassDesc" class="form-control" />
    <span asp-validation-for="EnergyClassDesc" class="text-danger"></span>
</div>

