@model LimaArrendamentos.Models.TypologyViewModel

<div class="form-group">
    <label asp-for="TypologyDesc" class="control-label"></label>
    <input asp-for="TypologyDesc" class="form-control" />
    <span asp-validation-for="TypologyDesc" class="text-danger"></span>
</div>

