
@{
    ViewData["Title"] = "Conta Confirmada";
}

<h2>Conta Confirmada</h2>

<div>
    <p>
        Obrigado por confirmar o e-mail, faça login <a asp-controller="Account" asp-action="Login">aqui</a>.
    </p>
</div>


