@model LimaArrendamentos.Models.RecoverPasswordViewModel

@{
    Layout = null;
}

<title>Recuperar Password | LimArrendamentos</title>

<link rel="shortcut icon" href="~/img/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Login/css/main.css">


<div class="limiter">
    
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title">
                <span class="login100-form-title-1">Recuperar palavra-passe</span>
            </div>

            <form method="post" class="login100-form validate-form">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="wrap-input100 validate-input m-b-26" data-validate="E-mail é necessário">
                    <span class="label-input100">E-mail</span>
                    <input class="input100" asp-for="Email" placeholder="Insira o seu Email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-26" style="border-style: none;">
                    <button type="submit" value="Recuperar palavra-passe" class="btn btn-primary">Recuperar palavra-passe</button>
                    <span class="focus-input100"></span>
                    <a asp-action="Login" class="btn btn-success">Voltar atrás</a>

                    <div class="text-success mt-5 text-center">
                        <p>
                            @ViewBag.Message
                        </p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/Login/vendor/animsition/js/animsition.min.js"></script>
<script src="~/Login/vendor/bootstrap/js/popper.js"></script>
<script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Login/vendor/select2/select2.min.js"></script>
<script src="~/Login/vendor/daterangepicker/moment.min.js"></script>
<script src="~/Login/vendor/daterangepicker/daterangepicker.js"></script>
<script src="~/Login/vendor/countdowntime/countdowntime.js"></script>
<script src="~/Login/js/main.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


