@model LimaArrendamentos.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Nova Password";
}


<div class="row">

    <div class="col-md-4 offset-md-4">

        <h5 class="mb-5 text-center">Recuperação de palavra-passe</h5>

        <form method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Token" />

            <div class="form-group">
                <label asp-for="UserName">E-mail</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Nova palavra-passe</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirmar palavra-passe</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
            </div>

            <div class="form-group d-flex justify-content-end">
                <input type="submit" value="Confirmar" class="btn btn-primary mr-1" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-link">Página Principal</a>
            </div>
        </form>
        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

